.columna{
display: flex;
flex-direction: column;
width: 20%;

}

.columna button{
	padding: 40px 0;
}

.btn{
	display: flex;
	
}

.cal{
	width: 50%;
	margin: auto;
}

.resp{
	border: 3px solid #fff;
	border-collapse: collapse;
	padding: 10px;
	background-color: blue;
}