
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
*{
	margin: 0;
	padding: 0;
	font-family: 'PT Sans', sans-serif;
}

body{
	background: #649173;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #DBD5A4, #649173);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #DBD5A4, #649173); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

div{
	padding: 40px;				
}


h2{
	margin: 30px;
}

h4{
	margin: 15px;
}